.version.animations /* version checker */
{
	color: #0000FA;
	background-color: #BDF085;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 500px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 63px;
	width: 0.01px;/* should not cover content below */
}

#u4967
{
	z-index: 113;
	width: 1280px;
	height: 75px;
	background-color: transparent;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -664px;
}

#U4969_animation
{
	width: 1280px;
	height: 75px;
	border: none;
}

#top
{
	position: relative;
}

#pu4487-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 84px;
}

#u4487-4
{
	z-index: 51;
	width: 640px;
	min-height: 62px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u4488-4
{
	z-index: 55;
	width: 323px;
	min-height: 62px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 660px;
}

#u4469
{
	z-index: 6;
	width: 1624px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	left: -300px;
	margin-top: 37px;
	position: relative;
}

#u4470
{
	z-index: 7;
	width: 1498px;
	margin-left: 63px;
	position: relative;
	background: transparent url("../images/checker.png") repeat left top;
}

#u4476
{
	z-index: 8;
	width: 1498px;
	background: transparent url("../images/u4476-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(10%, #000D24),to(rgba(0,13,36,0)));
	background: -webkit-linear-gradient(top,#000D24 10%,rgba(0,13,36,0) );
	background: linear-gradient(to bottom,#000D24 10%,rgba(0,13,36,0) );
	position: relative;
	margin-right: -10000px;
}

#u4475
{
	z-index: 9;
	width: 749px;
	height: 173px;
	background: -webkit-gradient(linear, left center, right center, from(#000D24),color-stop(100%, rgba(0,13,36,0)));
	background: -webkit-linear-gradient(left,#000D24 ,rgba(0,13,36,0) 100%);
	background: linear-gradient(to right,#000D24 ,rgba(0,13,36,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF000D24, endColorstr=#00000D24, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF000D24', endColorstr='#00000D24', GradientType=1)";
	position: relative;
	margin-right: -10000px;
}

#u4471
{
	z-index: 10;
	width: 749px;
	background: -webkit-gradient(linear, left center, right center, from(rgba(0,13,36,0)),color-stop(100%, #000D24));
	background: -webkit-linear-gradient(left,rgba(0,13,36,0) ,#000D24 100%);
	background: linear-gradient(to right,rgba(0,13,36,0) ,#000D24 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000D24, endColorstr=#FF000D24, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000D24', endColorstr='#FF000D24', GradientType=1)";
	position: relative;
	margin-right: -10000px;
	left: 749px;
}

#u4473
{
	z-index: 11;
	width: 1024px;
	background-color: transparent;
	margin-bottom: -10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: -512px;
}

#u4474
{
	z-index: 12;
	display: block;
}

#pu4472
{
	width: 0.01px;
}

#u4472
{
	z-index: 13;
	width: 300px;
	height: 10px;
	background: -webkit-gradient(linear, left center, right center, from(rgba(156,156,156,0)),color-stop(100%, #9C9C9C));
	background: -webkit-linear-gradient(left,rgba(156,156,156,0) ,#9C9C9C 100%);
	background: linear-gradient(to right,rgba(156,156,156,0) ,#9C9C9C 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#009C9C9C, endColorstr=#FF9C9C9C, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#009C9C9C', endColorstr='#FF9C9C9C', GradientType=1)";
	position: relative;
	margin-right: -10000px;
}

#u4477
{
	z-index: 14;
	width: 300px;
	height: 10px;
	background: -webkit-gradient(linear, left center, right center, from(#9C9C9C),color-stop(100%, rgba(156,156,156,0)));
	background: -webkit-linear-gradient(left,#9C9C9C ,rgba(156,156,156,0) 100%);
	background: linear-gradient(to right,#9C9C9C ,rgba(156,156,156,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF9C9C9C, endColorstr=#009C9C9C, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF9C9C9C', endColorstr='#009C9C9C', GradientType=1)";
	position: relative;
	margin-right: -10000px;
	left: 1324px;
}

#pu4468-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 16px;
}

#u4468-4
{
	z-index: 2;
	width: 224px;
	min-height: 120px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	font-size: 26px;
	text-align: center;
	line-height: 31px;
	color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u4480-4
{
	z-index: 23;
	width: 224px;
	min-height: 120px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	font-size: 26px;
	text-align: center;
	line-height: 31px;
	color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 253px;
}

#u4481-4
{
	z-index: 27;
	width: 224px;
	min-height: 120px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	font-size: 26px;
	text-align: center;
	line-height: 31px;
	color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 506px;
}

#u4478-4
{
	z-index: 15;
	width: 224px;
	min-height: 120px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	font-size: 26px;
	text-align: center;
	line-height: 31px;
	color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 759px;
}

#pu4482-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 20px;
}

#u4482-4
{
	z-index: 31;
	width: 224px;
	min-height: 120px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	font-size: 26px;
	text-align: center;
	line-height: 31px;
	color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u4479-4
{
	z-index: 19;
	width: 224px;
	min-height: 120px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	font-size: 26px;
	text-align: center;
	line-height: 31px;
	color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 253px;
}

#u4483-4
{
	z-index: 35;
	width: 224px;
	min-height: 120px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	font-size: 26px;
	text-align: center;
	line-height: 31px;
	color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 506px;
}

#u4484-4
{
	z-index: 39;
	width: 224px;
	min-height: 120px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	font-size: 26px;
	text-align: center;
	line-height: 31px;
	color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 759px;
}

#pu4485-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 65px;
}

#u4485-4
{
	z-index: 43;
	width: 477px;
	min-height: 231px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u4486-4
{
	z-index: 47;
	width: 477px;
	min-height: 231px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 506px;
}

#pu4489-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 116px;
}

#u4489-4
{
	z-index: 59;
	width: 477px;
	min-height: 231px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u4490-4
{
	z-index: 63;
	width: 477px;
	min-height: 231px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 506px;
}

#pu4641-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 67px;
}

#u4641-4
{
	z-index: 67;
	width: 640px;
	min-height: 62px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u4642-4
{
	z-index: 71;
	width: 323px;
	min-height: 62px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 660px;
}

#soloanim
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
}

#pu4673-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 32px;
}

#u4673-4
{
	z-index: 77;
	width: 312px;
	min-height: 162px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u4679-4
{
	z-index: 81;
	width: 312px;
	min-height: 162px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 335px;
}

#u4682-4
{
	z-index: 85;
	width: 312px;
	min-height: 162px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 671px;
}

#u4685-4
{
	z-index: 89;
	width: 312px;
	min-height: 162px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u4686-4
{
	z-index: 93;
	width: 312px;
	min-height: 162px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 335px;
}

#u4687-4
{
	z-index: 97;
	width: 312px;
	min-height: 162px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 671px;
}

#pu4685-4,#pu4694-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 27px;
}

#u4694-4
{
	z-index: 101;
	width: 312px;
	min-height: 162px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u4695-4
{
	z-index: 105;
	width: 312px;
	min-height: 162px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 335px;
}

#u4696-4
{
	z-index: 109;
	width: 312px;
	min-height: 162px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 671px;
}

.html
{
	background-color: #000D24;
}

body
{
	position: relative;
	min-width: 1024px;
}

