/*

*/

.version.animations /* version checker */
{
	color: #00000B;
	background-color: #13A996;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 3523px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -1px;
	width: 0.01px;/* should not cover content below */
}

#u19600
{
	z-index: 142;
	width: 1280px;
	height: 71px;
	background-color: transparent;
	position: fixed;
	top: -1px;
	left: 50%;
	margin-left: -664px;
}

#U21227_animation
{
	width: 1280px;
	height: 71px;
	border: none;
}

#u20147
{
	z-index: 2;
	min-height: 178px;
	-pie-box-shadow: 6px 6px 16px #7F7F7F;
	box-shadow: 6px 6px 16px rgba(0,0,0,0.5);
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #002450;
	border-width: 0px 0px 1px;
}

#ptop
{
	width: 0.01px;
	margin: 1px -10000px -7px 100px;
}

#top
{
	position: relative;
}

#u4487-4
{
	z-index: 13;
	width: 641px;
	min-height: 58px;
	border-color: #FFFFFF;
	background-color: transparent;
	line-height: 58px;
	color: #FFFFFF;
	font-size: 48px;
	font-family: '__NiseSegaSonic_5';
	font-weight: 400;
	margin-left: 20px;
	margin-top: 108px;
	position: relative;
}

#u4488-4
{
	z-index: 17;
	width: 210px;
	min-height: 18px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	font-family: '__NiseSegaSonic_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 156px;
	left: 894px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u20147-bw
{
	z-index: 2;
	min-height: 178px;
}

#u4469
{
	z-index: 4;
	width: 1622px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	left: -300px;
	margin-top: 24px;
	position: relative;
}

#u4470
{
	z-index: 5;
	width: 1498px;
	margin-left: 63px;
	position: relative;
	background: transparent url("../images/checker.png") repeat left top;
}

#u4476
{
	z-index: 6;
	width: 1498px;
	background: transparent url("../images/u4476-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(10%, #000D24),to(rgba(0,13,36,0)));
	background: -webkit-linear-gradient(top,#000D24 10%,rgba(0,13,36,0) );
	background: linear-gradient(to bottom,#000D24 10%,rgba(0,13,36,0) );
	position: relative;
	margin-right: -10000px;
}

#u4475
{
	z-index: 7;
	width: 749px;
	height: 173px;
	background: -webkit-gradient(linear, left center, right center, from(#000D24),color-stop(100%, rgba(0,13,36,0)));
	background: -webkit-linear-gradient(left,#000D24 ,rgba(0,13,36,0) 100%);
	background: linear-gradient(to right,#000D24 ,rgba(0,13,36,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF000D24, endColorstr=#00000D24, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF000D24', endColorstr='#00000D24', GradientType=1)";
	position: relative;
	margin-right: -10000px;
}

#u4471
{
	z-index: 8;
	width: 749px;
	background: -webkit-gradient(linear, left center, right center, from(rgba(0,13,36,0)),color-stop(100%, #000D24));
	background: -webkit-linear-gradient(left,rgba(0,13,36,0) ,#000D24 100%);
	background: linear-gradient(to right,rgba(0,13,36,0) ,#000D24 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000D24, endColorstr=#FF000D24, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000D24', endColorstr='#FF000D24', GradientType=1)";
	position: relative;
	margin-right: -10000px;
	left: 749px;
}

#u4473
{
	z-index: 9;
	width: 1024px;
	background-color: transparent;
	margin-bottom: -10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: -512px;
}

#u4474
{
	z-index: 10;
	display: block;
}

#pu4472
{
	width: 0.01px;
}

#u4472
{
	z-index: 11;
	width: 300px;
	height: 10px;
	background: -webkit-gradient(linear, left center, right center, from(rgba(156,156,156,0)),color-stop(100%, #9C9C9C));
	background: -webkit-linear-gradient(left,rgba(156,156,156,0) ,#9C9C9C 100%);
	background: linear-gradient(to right,rgba(156,156,156,0) ,#9C9C9C 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#009C9C9C, endColorstr=#FF9C9C9C, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#009C9C9C', endColorstr='#FF9C9C9C', GradientType=1)";
	position: relative;
	margin-right: -10000px;
}

#u4477
{
	z-index: 12;
	width: 300px;
	height: 10px;
	background: -webkit-gradient(linear, left center, right center, from(#9C9C9C),color-stop(100%, rgba(156,156,156,0)));
	background: -webkit-linear-gradient(left,#9C9C9C ,rgba(156,156,156,0) 100%);
	background: linear-gradient(to right,#9C9C9C ,rgba(156,156,156,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF9C9C9C, endColorstr=#009C9C9C, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF9C9C9C', endColorstr='#009C9C9C', GradientType=1)";
	position: relative;
	margin-right: -10000px;
	left: 1322px;
}

#u16692
{
	z-index: 76;
	width: 1280px;
	height: 400px;
	background-color: transparent;
	left: -129px;
	position: relative;
}

#U20192_animation
{
	width: 1280px;
	height: 400px;
	border: none;
}

#pu16452
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 60px;
}

#u16452
{
	z-index: 139;
	width: 480px;
	height: 270px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4997
{
	z-index: 75;
	width: 480px;
	height: 270px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 504px;
}

#pu4991-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 25px;
}

#u4991-4
{
	z-index: 71;
	width: 479px;
	min-height: 269px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u4489-4
{
	z-index: 21;
	width: 479px;
	min-height: 269px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 504px;
}

#psoloanim
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 25px;
}

#soloanim
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 243px;
}

#u16466
{
	z-index: 141;
	width: 480px;
	height: 270px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 120px;
}

#u16459
{
	z-index: 140;
	width: 480px;
	height: 270px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 624px;
}

#U16455_animation,#U16476_animation,#U16480_animation,#U16462_animation
{
	width: 480px;
	height: 270px;
	border: none;
}

#u20153
{
	z-index: 3;
	min-height: 93px;
	-pie-box-shadow: 6px 6px 16px #7F7F7F;
	box-shadow: 6px 6px 16px rgba(0,0,0,0.5);
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #002450;
	border-width: 0px 0px 1px;
}

#u4641-4
{
	z-index: 25;
	width: 641px;
	min-height: 63px;
	border-color: #FFFFFF;
	background-color: transparent;
	line-height: 58px;
	color: #FFFFFF;
	font-size: 48px;
	font-family: '__NiseSegaSonic_5';
	font-weight: 400;
	margin-bottom: -12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: 120px;
}

#u4642-4
{
	z-index: 29;
	width: 172px;
	min-height: 17px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	font-family: '__NiseSegaSonic_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 73px;
	left: 932px;
}

#u20153-bw
{
	z-index: 3;
	min-height: 93px;
	margin-top: 24px;
}

#pu4673-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 28px;
}

#u4673-4
{
	z-index: 35;
	width: 319px;
	min-height: 179px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u4679-4
{
	z-index: 39;
	width: 319px;
	min-height: 179px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 332px;
}

#u4682-4
{
	z-index: 43;
	width: 319px;
	min-height: 179px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 664px;
}

#u4685-4
{
	z-index: 47;
	width: 319px;
	min-height: 179px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u4686-4
{
	z-index: 51;
	width: 319px;
	min-height: 179px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 332px;
}

#u4687-4
{
	z-index: 55;
	width: 319px;
	min-height: 179px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 664px;
}

#u4694-4
{
	z-index: 59;
	width: 319px;
	min-height: 179px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u4695-4
{
	z-index: 63;
	width: 319px;
	min-height: 179px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 332px;
}

#u4696-4
{
	z-index: 67;
	width: 319px;
	min-height: 179px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 664px;
}

#u20220-4
{
	z-index: 77;
	width: 319px;
	min-height: 179px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u20221-4
{
	z-index: 81;
	width: 319px;
	min-height: 179px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 332px;
}

#u20222-4
{
	z-index: 85;
	width: 319px;
	min-height: 179px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 664px;
}

#pu20229-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 15px;
}

#u20229-4
{
	z-index: 89;
	width: 319px;
	min-height: 179px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u20230-4
{
	z-index: 93;
	width: 319px;
	min-height: 179px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 332px;
}

#u20231-4
{
	z-index: 97;
	width: 319px;
	min-height: 179px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 664px;
}

#u20238-4
{
	z-index: 101;
	width: 319px;
	min-height: 179px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u20239-4
{
	z-index: 105;
	width: 319px;
	min-height: 179px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 332px;
}

#u20240-4
{
	z-index: 109;
	width: 319px;
	min-height: 179px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 664px;
}

#u20265-4
{
	z-index: 113;
	width: 319px;
	min-height: 179px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u20266-4
{
	z-index: 117;
	width: 319px;
	min-height: 179px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 332px;
}

#u20267-4
{
	z-index: 121;
	width: 319px;
	min-height: 179px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 664px;
}

#pu4685-4,#pu4694-4,#pu20220-4,#pu20238-4,#pu20265-4,#pu20274-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 14px;
}

#u20274-4
{
	z-index: 125;
	width: 319px;
	min-height: 179px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u20275-4
{
	z-index: 129;
	width: 319px;
	min-height: 179px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 332px;
}

#u20276-4
{
	z-index: 133;
	width: 319px;
	min-height: 179px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 664px;
}

#u20604
{
	z-index: 137;
	min-height: 50px;
	padding-bottom: 2px;
}

#u20147_align_to_page,#u20153_align_to_page,#u20604_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1024px;
	left: -100px;
}

#u20605
{
	z-index: 138;
	width: 1024px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 100px;
}

#u20604-bw
{
	z-index: 137;
	min-height: 50px;
	margin-top: 81px;
}

.html
{
	background-color: #000D24;
}

body
{
	position: relative;
	min-width: 1024px;
}

@font-face
{
	font-family: '__NiseSegaSonic_5';
	src: url('../fonts/nisesegasonic-webfont.eot');
	src: local('☺'), url('../fonts/nisesegasonic-webfont.woff') format('woff'), url('../fonts/nisesegasonic-webfont.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

