.version.downloads /* version checker */
{
	color: #0000F6;
	background-color: #A3D659;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 0px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-top: 62px;
	padding-bottom: 438px;
	width: 100%;
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

.html
{
	background-color: #000D24;
}

body
{
	position: relative;
	min-width: 320px;
}

