.version.dubs /* version checker */
{
	color: #000004;
	background-color: #EF55BA;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 0px;
	min-height: 0px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-top: 62px;
	padding-right: 320px;
	padding-bottom: 438px;
	margin-left: auto;
	margin-right: auto;
}

.html
{
	background-color: #000D24;
}

body
{
	position: relative;
	min-width: 320px;
}

