#u20604
{
	-pie-box-shadow: 0px -1px 18px #7F7F7F;
	box-shadow: 0px -1px 18px rgba(0,0,0,0.5);
	background-color: #002858;
}

#u20605
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}


