.version.meet_the_team /* version checker */
{
	color: #000009;
	background-color: #1AA668;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 500px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 86px;
	width: 0.01px;/* should not cover content below */
}

#u3681
{
	z-index: 2;
	width: 1280px;
	height: 71px;
	background-color: transparent;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -664px;
}

#U20164_animation
{
	width: 1280px;
	height: 71px;
	border: none;
}

#u21096
{
	z-index: 3;
	min-height: 57px;
	-pie-box-shadow: 6px 6px 16px #7F7F7F;
	box-shadow: 6px 6px 16px rgba(0,0,0,0.5);
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #002450;
	border-width: 0px 0px 1px;
}

#u21097-4
{
	z-index: 4;
	display: block;
	vertical-align: top;
	margin-bottom: -12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 118px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u21096-bw
{
	z-index: 3;
	min-height: 57px;
}

#u21102-4
{
	z-index: 8;
	width: 561px;
	min-height: 21px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	line-height: 26px;
	color: #FFFFFF;
	font-size: 22px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 20px;
	margin-top: 32px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u21108-4
{
	z-index: 12;
	width: 561px;
	min-height: 21px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	line-height: 26px;
	color: #FFFFFF;
	font-size: 22px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 20px;
	margin-top: 143px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u21111-4
{
	z-index: 16;
	width: 561px;
	min-height: 21px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	line-height: 26px;
	color: #FFFFFF;
	font-size: 22px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 20px;
	margin-top: 203px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u21102-2,#u21108-2,#u21111-2
{
	padding-left: 24px;
}

#u20604
{
	z-index: 20;
	min-height: 50px;
	padding-bottom: 2px;
}

#u21096_align_to_page,#u20604_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1024px;
	left: -100px;
}

#u20605
{
	z-index: 21;
	width: 1024px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 100px;
}

#u20604-bw
{
	z-index: 20;
	min-height: 50px;
	margin-top: 10px;
}

.html
{
	background-color: #000D24;
}

body
{
	position: relative;
	min-width: 1024px;
}

