.version.music /* version checker */
{
	color: #000007;
	background-color: #64672A;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 114px;
	min-height: 0px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-left: 87px;
	padding-top: 1245px;
	padding-right: 823px;
	margin-left: auto;
	margin-right: auto;
}

#u14739
{
	z-index: 2;
	width: 114px;
	height: 81px;
	position: relative;
}

.ie #u14739
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

.html
{
	background-color: #000D24;
}

body
{
	position: relative;
	min-width: 1024px;
}

