.version.other /* version checker */
{
	color: #0000E7;
	background-color: #B665A3;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 52px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-top: 448px;
	margin-left: auto;
	margin-right: auto;
}

#u20604
{
	z-index: 2;
	min-height: 50px;
	padding-bottom: 2px;
}

#u20604_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1024px;
}

#u20605
{
	z-index: 3;
	width: 1024px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u20604-bw
{
	z-index: 2;
	min-height: 50px;
}

.html
{
	background-color: #000D24;
}

body
{
	position: relative;
	min-width: 1024px;
}

