.version.projects /* version checker */
{
	color: #000005;
	background-color: #1A44A7;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 959.85px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 62px;
	padding-bottom: 62px;
	width: 0.01px;/* should not cover content below */
}

#u1295
{
	z-index: 39;
	width: 1078px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 29px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -539px;
}

#u1298
{
	z-index: 40;
	width: 1078px;
	background-color: transparent;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -539px;
}

#u1299
{
	z-index: 41;
	display: block;
	margin-bottom: -21px;
}

#u1296
{
	z-index: 42;
	width: 65px;
	background-color: transparent;
	position: fixed;
	top: 2px;
	left: 50%;
	margin-left: -503px;
}

#u1297
{
	z-index: 43;
	display: block;
}

#menuu1300
{
	z-index: 44;
	width: 906px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -431px;
}

#u1315
{
	width: 169px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1316
{
	width: 169px;
	background-color: #1F1F38;
	padding-bottom: 15px;
	position: relative;
}

#u1316:hover
{
	background-color: #161627;
	width: 169px;
	min-height: 0px;
	margin: 0px;
}

#u1316:active
{
	background-color: #6B6B6B;
	width: 169px;
	min-height: 0px;
	margin: 0px;
}

#u1318-4
{
	width: 37px;
	min-height: 14px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	color: #FFFFFF;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 66px;
}

#u1316:hover #u1318-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 37px;
	margin: 0px -10000px 0px 0px;
}

#u1316:active #u1318-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 37px;
	margin: 0px -10000px 0px 0px;
}

#u1316.MuseMenuActive #u1318-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 37px;
	margin: 0px -10000px 0px 0px;
}

#u1316.MuseMenuActive #u1318-4 p
{
	font-size: 12px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
}

#u1308
{
	width: 182px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 171px;
}

#u1311
{
	width: 182px;
	background-color: #1F1F38;
	padding-bottom: 15px;
	position: relative;
}

#u1311.MuseMenuActive
{
	background-color: #1F1F38;
	width: 182px;
	min-height: 0px;
	margin: 0px;
}

#u1314-4
{
	width: 50px;
	min-height: 14px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	color: #FFFFFF;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 66px;
}

#u1311:hover #u1314-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u1311:active #u1314-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u1311.MuseMenuActive #u1314-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u1301
{
	width: 177px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 355px;
}

#u1302
{
	width: 177px;
	background-color: #1F1F38;
	padding-bottom: 15px;
	position: relative;
}

#u1302:hover
{
	background-color: #161627;
	width: 177px;
	min-height: 0px;
	margin: 0px;
}

#u1302:active
{
	background-color: #6B6B6B;
	width: 177px;
	min-height: 0px;
	margin: 0px;
}

#u1305-4
{
	width: 46px;
	min-height: 14px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	color: #FFFFFF;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 65px;
}

#u1302:hover #u1305-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 46px;
	margin: 0px -10000px 0px 0px;
}

#u1302:active #u1305-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 46px;
	margin: 0px -10000px 0px 0px;
}

#u1302.MuseMenuActive #u1305-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 46px;
	margin: 0px -10000px 0px 0px;
}

#u1322
{
	width: 198px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 534px;
}

#u1323
{
	width: 198px;
	background-color: #1F1F38;
	padding-bottom: 15px;
	position: relative;
}

#u1323:hover
{
	background-color: #161627;
	width: 198px;
	min-height: 0px;
	margin: 0px;
}

#u1323:active
{
	background-color: #6B6B6B;
	width: 198px;
	min-height: 0px;
	margin: 0px;
}

#u1325-4
{
	width: 67px;
	min-height: 14px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	color: #FFFFFF;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 65px;
}

#u1323:hover #u1325-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u1323:active #u1325-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u1323.MuseMenuActive #u1325-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u1329
{
	width: 172px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 734px;
}

#u1330
{
	width: 172px;
	background-color: #1F1F38;
	padding-bottom: 15px;
	position: relative;
}

#u1330:hover
{
	background-color: #161627;
	width: 172px;
	min-height: 0px;
	margin: 0px;
}

#u1330:active
{
	background-color: #6B6B6B;
	width: 172px;
	min-height: 0px;
	margin: 0px;
}

#u1332-4
{
	width: 41px;
	min-height: 14px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	color: #FFFFFF;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 65px;
}

#u1330:hover #u1332-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 41px;
	margin: 0px -10000px 0px 0px;
}

#u1330:active #u1332-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 41px;
	margin: 0px -10000px 0px 0px;
}

#u1330.MuseMenuActive #u1332-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 41px;
	margin: 0px -10000px 0px 0px;
}

#u1311.MuseMenuActive #u1314-4 p,#u1302.MuseMenuActive #u1305-4 p,#u1323.MuseMenuActive #u1325-4 p,#u1330.MuseMenuActive #u1332-4 p
{
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u1553
{
	z-index: 9;
	width: 1224px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	left: -100px;
	position: relative;
}

#u1547
{
	z-index: 10;
	width: 1224px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #33335A;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
}

#u1550-4
{
	z-index: 11;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 139px;
}

#u1544
{
	z-index: 3;
	width: 984px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 13px;
	position: relative;
}

#u1469
{
	z-index: 4;
	width: 984px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/collabs.jpg") no-repeat center bottom;
	background-size: cover;
}

#u1472-4
{
	z-index: 5;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 21px;
}

#u2000
{
	z-index: 15;
	width: 984px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 22px;
	position: relative;
}

#u2002
{
	z-index: 16;
	width: 984px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/collabs.jpg") no-repeat center bottom;
	background-size: cover;
}

#u2001-4
{
	z-index: 17;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 21px;
}

#u2009
{
	z-index: 21;
	width: 984px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 22px;
	position: relative;
}

#u2011
{
	z-index: 22;
	width: 984px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/collabs.jpg") no-repeat center bottom;
	background-size: cover;
}

#u2010-4
{
	z-index: 23;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 19px;
}

#u2024
{
	z-index: 27;
	width: 984px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 21px;
	position: relative;
}

#u2026
{
	z-index: 28;
	width: 984px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/collabs.jpg") no-repeat center bottom;
	background-size: cover;
}

#u2025-4
{
	z-index: 29;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 21px;
}

#u2033
{
	z-index: 33;
	width: 984px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 22px;
	position: relative;
}

#u2035
{
	z-index: 34;
	width: 984px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/collabs.jpg") no-repeat center bottom;
	background-size: cover;
}

#u2034-4
{
	z-index: 35;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 21px;
}

#u1520
{
	z-index: 2;
	width: 69px;
	height: 82px;
	margin-left: 432px;
	margin-top: 88px;
	position: relative;
}

.ie #u1520
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

.html
{
	background-color: #000D24;
}

body
{
	position: relative;
	min-width: 1024px;
}

