.version.projects /* version checker */
{
	color: #0000E3;
	background-color: #BC2F76;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 671px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 289px;
	margin-left: auto;
	margin-right: auto;
}

#u4093
{
	z-index: 18;
	width: 1280px;
	height: 240px;
	background-color: transparent;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -664px;
}

#U5410_animation
{
	width: 1280px;
	height: 240px;
	border: none;
}

#u4626-4
{
	z-index: 2;
	width: 228px;
	min-height: 548px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 121px;
	left: 20px;
}

#u4629-4
{
	z-index: 6;
	width: 228px;
	min-height: 548px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 121px;
	left: 272px;
}

#u4632-4
{
	z-index: 10;
	width: 228px;
	min-height: 548px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 121px;
	left: 523px;
}

#u4635-4
{
	z-index: 14;
	width: 228px;
	min-height: 548px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 121px;
	left: 775px;
}

.html
{
	background-color: #000D24;
}

body
{
	position: relative;
	min-width: 1024px;
}


