.version.stream /* version checker */
{
	color: #00001D;
	background-color: #C3FE2D;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 732px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u20050
{
	z-index: 6;
	width: 1280px;
	height: 71px;
	background-color: transparent;
	position: fixed;
	top: -1px;
	left: 50%;
	margin-left: -664px;
}

#U20166_animation
{
	width: 1280px;
	height: 71px;
	border: none;
}

#u19946
{
	z-index: 2;
	width: 744px;
	min-height: 504px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 105px;
}

#u19950
{
	z-index: 3;
	width: 280px;
	min-height: 524px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 105px;
	left: 744px;
}

#u20604
{
	z-index: 4;
	min-height: 50px;
	padding-bottom: 2px;
}

#u20604_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1024px;
	left: -100px;
}

#u20605
{
	z-index: 5;
	width: 1024px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 100px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u20604-bw
{
	z-index: 4;
	min-height: 50px;
	margin-top: 10px;
}

.html
{
	background-color: #000D24;
}

body
{
	position: relative;
	min-width: 1024px;
}

.verticalspacer
{
	min-height: 37px;
}

